*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Variable */
:root{
  --main-font:"Poppins", sans-serif;
  --secondary-font:"Inter", sans-serif;
  --third-font:"Roboto", sans-serif;
  --last-font:"Manrope", sans-serif;

  --grey-black: #3A3A3A;
  --maroon: #E02C6D;
  --black: #000000;
  --light-grey: #3a3a3a;
  --white: #ffffff;
}

/* Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800
Black 900
Thin 100 Italic
ExtraLight 200 Italic
Light 300 Italic
Regular 400 Italic
Medium 500 Italic
SemiBold 600 Italic
Bold 700 Italic
ExtraBold 800 Italic
Black 900 Italic */

/* Repeat style */
.btn {
  padding: 10px 24px;
  background-color: var(--maroon);
  border: none;
  border-radius: 41px;
  color: var(--white);
}

.btn a{
  color: var(--white);
}

.btn i{
  margin-left: -20px;
}

/* main style */

/* header style  */
header {
  padding: 90px 120px 70px;
  margin: 0 auto;
  /* background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right bottom; */
}
.logo {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 700;
  color: var(--grey-black);
}

.menu li, a , ul {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  color: var(--grey-black);
  display: flex;
  gap: 34px;
  align-items: center;
}

.menu-icon{
  font-size: 24px;
  display: flex;
  gap: 34px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* header style  */

/* hero section style  */
.hero-content{
  max-width: 582px;
}
.hero-content > * {
  margin-bottom:16px ;
}
.hero-content h1{
  font-size: 52px;
  font-weight: 700;
  font-family: var(--main-font);
  color: var(--grey-black);
}

.hero-content p{
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-black);
}

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 

.hero-image{
  padding: 30px 33px 31px 2px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

/* hero section style  */




