*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Variable */
:root{
  --main-font:"Poppins", sans-serif;
  --secondary-font:"Inter", sans-serif;
  --third-font:"Roboto", sans-serif;
  --last-font:"Manrope", sans-serif;

  --grey-black: #3A3A3A;
  --maroon: #E02C6D;
  --black: #000000;
  --light-grey: #5c5c5c;
  --white: #ffffff;
}

/* Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800
Black 900
Thin 100 Italic
ExtraLight 200 Italic
Light 300 Italic
Regular 400 Italic
Medium 500 Italic
SemiBold 600 Italic
Bold 700 Italic
ExtraBold 800 Italic
Black 900 Italic */

/* Repeat style */
.btn {
  padding: 10px 24px;
  background-color: var(--maroon);
  border: none;
  border-radius: 41px;
  color: var(--white);
}

.btn a{
  color: var(--white);
}

.btn i{
  margin-left: -20px;
}

.btn2{
  padding: 10px 24px;
  background-color: var(--maroon);
  border: none;
  color: var(--white);
}

.btn2 a{
  color: var(--white);
}

.btn2 i{
  margin-left: 8px;
}

/* main style */
body{
  background-color:rgba(255, 255, 255, 1);
  font-family: var(--main-font);
}

/* header style  */
header {
  padding: 90px 120px 70px;
  margin: 0 auto;
  /* background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right bottom; */
}
.logo {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--grey-black);
}

.menu li, a , ul {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  color: var(--grey-black);
  display: flex;
  gap: 34px;
  align-items: center;
}

.menu-icon{
  font-size: 1.5rem;
  display: flex;
  gap: 34px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* header style  */

/* hero section style  */
.hero-content{
  max-width: 582px;
}
.hero-content > * {
  margin-bottom:16px ;
}
.hero-content h1{
  font-size: 3.25rem;
  font-weight: 700;
  font-family: var(--main-font);
  color: var(--grey-black);
}

.hero-content p{
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-black);
}

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 

.hero-image{
  padding: 30px 33px 31px 2px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

/* hero section style  */

/* market place style  */
#market-place{
  padding: 0 165px;
}
.market-container{
  display: grid;
  gap: 60px;
  align-items: center;
  grid-template-columns: repeat(7 , 1fr);
  padding: 36px 62px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: #fff;
  border-image: linear-gradient(to right,rgba(58, 58, 58, 0)0%, rgba(58, 58, 58, .5)50%, rgba(58, 58, 58, 0)100%);
  border-image-slice: 1;

}

/* collection card style  */
#collection{
  padding: 100px 196px;
}

#collection h2{
  font-size: 1.75rem;
  text-align: center;
  color: var(--grey-black);
  font-weight: 600;
  margin-bottom: 30px;
}
.collection-card-container{
  display: grid;
  grid-template-columns: repeat(3 , max-content);
  justify-content:space-between;
  gap: 30px;
  margin-bottom: 50px;
}

.collection-card{
  max-width: 329px;
  padding: 14px 17px;
  box-shadow: 10px 10px 50px rgba(58, 58, 58, .2);
  border-radius: 7px;
}

.collection-card img{
  max-width: 300px;
  margin-bottom: 16px;
}

.collection-card h3{
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.price{
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  margin-bottom: 10px;

}
.rating{
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--third-font);
  font-size: 0.875rem ;
  font-weight: 700;
  color: var(--light-grey);
  margin-bottom: 6px;
}

.rating i{
  color: orange;
}

.collection-discription{
  font-family: var(--third-font);
  font-size: 0.875rem ;
  font-weight: 700;
  color: var(--light-grey);
  margin-bottom: 10px;
  line-height: 143%;
  letter-spacing: 1.8%;
}

.see-more-btn{
  display: block;
  text-align: right;
  color: var(--maroon);
  font-weight: 700;
}

.see-more-btn i{
  margin-left: 10px;
}

/* feature style  */

#feature{
  padding: 0 165px 100px 165px;
  display: flex;
  justify-content: space-between;
  gap: 96px;
  align-items: center;
}

.feature-content h2{
  font-size: 2.37rem;
  margin-bottom: 16px;
}

.feature-content p{
  color: var(--light-grey);
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

/* footer style  */
footer{
  text-align: center;
  padding: 50px 589px;
  background-color: #0A0826;
  color: var(--white);
}

footer h2{
  font-size: 1.5rem;
  margin-bottom: 3px;
}

footer p{
  font-family: var(--third-font);
  font-size: .875rem;
  line-height: 24px;
  margin-bottom: 17px;
}
/* footer style   */
.footer-icon i{
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-icon{
  display: flex;
  justify-content: center;
  gap: 16px;
};



