*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Variable */
:root{
  --main-font:"Poppins", sans-serif;
  --secondary-font:"Inter", sans-serif;
  --third-font:"Roboto", sans-serif;
  --last-font:"Manrope", sans-serif;

  --grey-black: #3A3A3A;
  --maroon: #E02C6D;
  --black: #000000;
  --light-grey: #5c5c5c;
  --white: #ffffff;
}

/* Repeat style */
.btn {
  padding: 10px 24px;
  background-color: var(--maroon);
  border: none;
  border-radius: 41px;
  color: var(--white);
  transition: ease-in-out .3s;
  cursor: pointer;
}

.btn a{
  color: var(--white);
  text-decoration: none;
}

.btn i{
  margin-left: 10px;
}

.btn:hover{
  background-color: #0A0826;
  transform: scale(1.1);
}

.btn2{
  padding: 10px 24px;
  background-color: var(--maroon);
  border: none;
  color: var(--white);
  transition: ease-in-out .3s;
  cursor: pointer;
}

.btn2:hover{
  background-color: #0A0826;
  transform: scale(1.1);
}

.btn2 a{
  color: var(--white);
}

.btn2 i{
  margin-left: 8px;
}

/* main style */
body{
  background-color:rgba(255, 255, 255, 1);
  font-family: var(--main-font);
}

/* header style  */
header {
  padding: 90px 120px 70px;
  margin: 0 auto;
}
.navigation .navbar{
  display: none;
}

.navigation .cart{
  display: none;
}

.logo {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--grey-black);
}

.menu {
  display: flex;
  gap: 34px;
  align-items: center;
}

.menu li{
  list-style: none;
}

.menu a{
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--grey-black);

}
.menu-icon{
  font-size: 1.5rem;
  display: flex;
  gap: 34px;
  cursor: pointer;
}

.navigation{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

/* header style  */

/* hero section style  */
.hero-content{
  max-width: 582px;
}
.hero-content > * {
  margin-bottom:16px ;
}
.hero-content h1{
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--main-font);
  color: var(--grey-black);
}

.hero-content p{
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-black);
}

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
 

.hero-image{
  padding: 30px 33px 31px 2px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left top;
  transition: ease-in-out .5s;
}
.hero-image:hover{
  transform: scale(1.1) rotate(20deg);
}

/* hero section style  */

/* market place style  */
#market-place{
  padding: 0 165px;
}
.market-container{
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: #fff;
  border-image: linear-gradient(to right,rgba(58, 58, 58, 0)0%, rgba(58, 58, 58, .5)50%, rgba(58, 58, 58, 0)100%);
  border-image-slice: 1;

}

.market-container img{
  max-width: 70px;
}

/* collection card style  */
#collection{
  padding: 100px 165px;
}

#collection h2{
  font-size: 1.75rem;
  text-align: center;
  color: var(--grey-black);
  font-weight: 600;
  margin-bottom: 30px;
}
.collection-card-container{
  display: grid;
  grid-template-columns: repeat(3 , max-content);
  justify-content:space-between;
  gap: 30px;
  margin-bottom: 50px;
}

.collection-card{
  max-width: 329px;
  padding: 14px 17px;
  box-shadow: 10px 10px 50px rgba(58, 58, 58, .2);
  border-radius: 7px;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.collection-card img{
  max-width: 100%;
}

.collection-card:hover{
  transform: translateY(-10px);
}

.collection-card img{
  max-width: 300px;
  margin-bottom: 16px;
}

.collection-card h3{
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.price{
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  margin-bottom: 10px;

}
.rating{
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--third-font);
  font-size: 0.875rem ;
  font-weight: 700;
  color: var(--light-grey);
  margin-bottom: 6px;
}

.rating i{
  color: orange;
}

.collection-discription{
  font-family: var(--third-font);
  font-size: 0.875rem ;
  font-weight: 700;
  color: var(--light-grey);
  margin-bottom: 10px;
  line-height: 143%;
  letter-spacing: 1.8%;
}

.see-more-btn{
  display: block;
  text-align: right;
  color: var(--maroon);
  font-weight: 700;
  text-decoration: none;
}

.see-more-btn i{
  margin-left: 10px;
}

/* feature style  */

#feature{
  padding: 0 165px 100px 165px;
  display: flex;
  justify-content: space-between;
  gap: 96px;
  align-items: center;
}
.feature-imgfeature-img{
  transition: ease-in-out .3s;
}

.feature-imgfeature-img:hover{
  transform: scale(1.1);
}

.feature-content h2{
  font-size: 2.37rem;
  margin-bottom: 16px;
}

.feature-content p{
  color: var(--light-grey);
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}



/* footer style  */
footer{
  text-align: center;
  padding: 50px 589px;
  background-color: #0A0826;
  color: var(--white);
}

footer h2{
  font-size: 1.5rem;
  margin-bottom: 3px;
}

footer p{
  font-family: var(--third-font);
  font-size: .875rem;
  line-height: 24px;
  margin-bottom: 17px;
}
.footer-icon i{
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-icon{
  display: flex;
  justify-content: center;
  gap: 16px;
}
/* Responsive */

/* mobile device */

@media screen and (max-width: 576px) {
  .logo{
    font-size: 1.2rem;
  }

  .menu li:not(.cart) {
    display: none;
  }

.fa-magnifying-glass{
    display: none;
  }
  .navigation .navbar {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation .cart{
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation{
  display: flex;
  margin: 0px 16px 22px  ;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 35px 16px 30px;
  margin: 0 auto;
}

.hero-image{
  padding: 51px 34px 16px 22px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left top;
  transition: ease-in-out .5s;
  background-size: 257px;
}

.hero-image img{
  max-width: 200px;
}

.hero-content{
  text-align: center;
}

.hero-content h1{
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.hero-content p{
  font-size: 14px;
  font-weight: 500;
}


#hero{
  flex-direction: column-reverse;
  padding: 22px 18px 0px ;
}

#market-place{
  padding: 0 42px;
}

.market-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:10px 0px;
  gap: 20px;
}


.market-logo img{
  max-width: 50px;
}


#collection{
  padding: 50px 16px;
}

.collection-card-container{
  grid-template-columns: repeat(1 , max-content);
  justify-content: center;
}

.collection-card h3{
  font-weight: 700;

}

#feature{
  padding: 0 30px 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  text-align: center;
}
.feature-content{
  margin-bottom: 20px;
}

.feature-content h2{
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.btn2{
  font-weight: 800;
}

#feature img{
  max-width: 100%;
}

footer{
  padding: 50px 68px;
  color: var(--light-grey);
}

footer h2{
  font-size: 1.3rem;
}

footer p{
  font-size: .800rem;
}






}

/* tablet device */

@media screen and (min-width: 577px) and (max-width:768px) {
  .logo{
    font-size: 1.2rem;
  }

  .menu li:not(.cart) {
    display: none;
  }

.fa-magnifying-glass{
    display: none;
  }
  .navigation .navbar {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation .cart{
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation{
  display: flex;
  margin: 0px 16px 22px  ;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 35px 16px 30px;
  margin: 0 auto;
}

.hero-image{
  padding: 51px 34px 16px 22px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left top;
  transition: ease-in-out .5s;
  background-size: 300px;
}

.hero-image img{
  max-width: 250px;
}

.hero-content{
  text-align: center;
}

.hero-content h1{
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.hero-content p{
  font-size: 14px;
  font-weight: 500;
}


#hero{
  flex-direction: column-reverse;
  padding: 22px 18px 0px ;
}

#market-place{
  padding: 0 42px;
}

.market-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:10px 0px;
  gap: 20px;
}


.market-logo img{
  max-width: 65px;
}


#collection{
  padding: 50px 16px;
}

.collection-card-container{
  grid-template-columns: repeat(1 , max-content);
  justify-content: center;
}

.collection-card{
  max-width: 100%;
}

.collection-card h3{
  font-weight: 700;

}

#feature{
  padding: 0 30px 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  text-align: center;
}
.feature-content{
  margin-bottom: 20px;
}

.feature-content h2{
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.btn2{
  font-weight: 800;
}

#feature img{
  max-width: 100%;
}

footer{
  padding: 50px 68px;
  color: var(--light-grey);
}

footer h2{
  font-size: 1.3rem;
}

footer p{
  font-size: .800rem;
}



}
/* mini laptop device */

@media screen and (min-width: 769px) and (max-width:992px) {
  .logo{
    font-size: 1.55rem;
  }

  .menu li:not(.cart) {
    display: none;
  }

.fa-magnifying-glass{
    display: none;
  }
  .navigation .navbar {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation .cart{
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation{
  display: flex;
  margin: 0px 16px 22px  ;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 35px 16px 30px;
  margin: 0 auto;
}

.hero-image{
  padding: 51px 34px 16px 22px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left top;
  transition: ease-in-out .5s;
  background-size: 300px;
}

.hero-image img{
  max-width: 250px;
}

.hero-content{
  text-align: center;
}

.hero-content h1{
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.hero-content p{
  font-size: 14px;
  font-weight: 500;
}


#hero{
  flex-direction: column-reverse;
  padding: 22px 18px 0px ;
}

#market-place{
  padding: 0 42px;
}

.market-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:10px 0px;
  gap: 20px;
}


.market-logo img{
  max-width: 75px;
}

#collection{
  padding: 20px 50px;
}

.collection-card-container{
  grid-template-columns: repeat(2 , max-content);
}

.collection-card h3{
  font-weight: 600;
}

#feature{
  padding: 0 30px 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  text-align: center;
}
.feature-content{
  margin-bottom: 20px;
}

.feature-content h2{
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.btn2{
  font-weight: 800;
}

#feature img{
  max-width: 100%;
}

footer{
  padding: 50px 68px;
  color: var(--white);
}

footer h2{
  font-size: 1.5rem;
}

footer p{
  font-size: .800rem;
}


}

/* big laptop device  */

@media screen and (min-width:993px) and (max-width:1200px) {
  .hero-content h1{
  font-size: 2.5rem;
}

#collection{
  padding: 20px 16px;
}

.collection-card{
  max-width: 300px;
  padding: 14px 17px;
}

.collection-card img{
  max-width: 100%;
}


#feature{
  padding: 0 30px 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  text-align: center;
}
.feature-content{
  margin-bottom: 20px;
}

.feature-content h2{
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.btn2{
  font-weight: 700;
}

#feature img{
  max-width: 100%;
}

footer{
  padding: 50px 68px;
  color: var(--white);
}

footer h2{
  font-size: 1.5rem;
}

footer p{
  font-size: .800rem;
}




}


/* desktop device */

@media screen and (min-width:1201px) and (max-width:1400px){

  footer{
  padding: 50px 470px;
  color: var(--white);
}
}

@media screen and (min-width:1440